body {
  background-color: #eaf2f8 !important ;
  font-family: "Outfit", sans-serif !important ;
}
.input-with-border {
  border: none !important ;
  border-bottom: 3px solid #eaf2f8 !important ;
  border-radius: 0 !important ;
  padding: 8px 0 !important ;
}

.input-with-border::placeholder {
  color: #888 !important ;
}

.rounded-button {
  border-radius: 20px !important ;
  color: #eaf2f8 !important ;
  background-color: black !important ;
  border-color: black !important ;
}

.rounded-button:hover {
  background-color: #add8e6 !important ;
  border-color: #add8e6 !important ;
  color: black !important ;
}

.title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Style Script", cursive;
}

.input-container {
  position: relative;
}

.section-flags {
  display: flex;
  justify-content: center;
}

.section-flag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

.section-flag.active {
  background-color: lightblue;
}

/* FormPage.css */
.cv-preview {
  padding: 20px;
}

/* FormPage.css */

.blank-sheet {
  width: 210mm; /* Fixed width */
  height: 297mm; /* Fixed height */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.cv-content {
  width: 190mm;
  height: 277mm;
  margin: 10mm auto; /* Set margins horizontally and vertically */
  padding: 10px; /* Add padding for spacing within the content */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cv-preview-container {
  .personal-info {
    width: 100%;
    margin-bottom: 20px;

    .name-section {
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .job-title-section {
      text-align: center;
      font-size: 15px;
      margin: 5px;
    }

    .additional-info {
      font-size: 14px;

      p {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
      }
    }
  }

  .professional-summary {
    margin-bottom: 10px;

    .profile-content {
      font-size: 16px;
    }
  }
}
.big-title {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #555;
  /* border-bottom: 2px solid ; */
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.description {
  font-size: 14px;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.home-content {
  max-width: 50%;
  text-align: center;
  color: #333;
  margin-right: 20px;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}


.cv-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.big-title-temp {
  text-align: left;
  border-bottom: none;
  font-size: 22px;
}
